<div class="main">
  <div class="site-logo">
    <div class="logo-image">
      <%= image_tag "logo.svg", id: "logo" %>
    </div>
    <div class="logo-text">
      <h1>Meniu</h1>
    </div>
  </div>
  <div class="restaurant-name">
    <h2><%= @restaurant.name %></h2>
  </div>
  <div class="menu-frame">
    <div class= "menu-title">
      <% @restaurant.menus.each do |menu| %>
        <h3><%= menu.name %></h3>
        <h4><%= menu.description %></h4>
    </div>
    <div class="menu-content">
        <% menu.foods.each_with_index do |food, index| %>
        <div class="menu-content-lines">
            <div class="menu-content-line1">
              <p><%= food.name %></p>
              <p><%= food.price %>€</p>
            </div>
            <div class="menu-content-line2">
              <p><%= food.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="restaurant-informations">
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone %></p>
    <p><%= @restaurant.instagram %></p>
    <p><%= @restaurant.email %></p>
    <p><%= @restaurant.website %></p>
  </div>
</div>



